@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

.title {
    padding-top:100vw ;
    display: inline;
    justify-content: center;
    height: 20%;
    width: 100vw;
    padding-top: 0%;
    margin-bottom: 5%;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    background: rgba(0, 0, 0, 0.5);
    color: #14d8ff;
    box-shadow: 0 0 50px #14d8ff;
    font-size: 8em;
    text-align: center;
    border-radius: 10vw ;
    
}

.info {
    text-align: center;
    color: aliceblue;
}

body{
    margin-top: 10%;
    background-image: url("2650150.jpg");
    background-color: #000016;
    background-position: center; /* Center the image */
    background-size: cover;
    height:0.00000000000000000000000002%;

    
    background-repeat: no-repeat;
 
    
}
.footer {
    margin-top:15% ;
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
}

.bruh{
    
    margin-top: 15px;
    font-size: 15vw;
    text-align: center;
    font-weight: 650;
    border-width: 20vw ;
    
    color: white;
    text-shadow:
      /* White glow */
   
      0 0 4px rgba(255, 255, 255, 0.695),
      0 0 11px rgba(255, 255, 255, 0.695),
      0 0 19px rgba(255, 255, 255, 0.695),
      0 0 40px #14d8ff91,
      0 0 80px #14d8ff91,
      0 0 90px #14d8ff91,
      0 0 100px #14d8ff91,
      0 0 150px #14d8ff;
    


        
      
}